<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlk.zlkproject.article.mapper.ArticleRefCommentMapper">
    <resultMap id="CommentResultMap" type="com.zlk.zlkproject.article.entity.ArticleRefComment" >
        <id column="article_comment_id" property="articleCommentId" javaType="java.lang.Integer" />
        <result column="article_id" property="articleId" jdbcType="INTEGER" />
        <result column="comment_id" property="commentId" jdbcType="INTEGER" />
        <association property="articleComment" javaType="com.zlk.zlkproject.article.entity.ArticleComment">
            <id column="comment_id" property="commentId" jdbcType="INTEGER" />
            <result column="user_id" property="userId" jdbcType="INTEGER" />
            <result column="article_id" property="articleId" jdbcType="INTEGER" />
            <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
            <result column="comment_date" property="commentDate" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <!--查询文章评论-->
    <select id="findComment" resultMap="CommentResultMap">
        SELECT
        article_ref_comment.*,article_comment.*
        FROM
        article,article_ref_comment,article_comment
        where
        article.article_id = #{articleId} and article.article_id = article_ref_comment.article_id and article_ref_comment.comment_id = article_comment.comment_id
        ORDER BY `article_comment`.`comment_date` DESC
    </select>
<!--    插入文章评论表-->
    <insert id="insertComment" parameterType="com.zlk.zlkproject.article.entity.ArticleComment" useGeneratedKeys="true" keyProperty="commentId">
        insert into article_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId!=null">
                comment_id,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
            <if test="articleId!=null">
                article_id,
            </if>
            <if test="commentContent!=null">
                comment_content,
            </if>
            <if test="commentDate!=null">
                comment_date,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId!=null">
                #{commentId},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="articleId!=null">
                #{articleId},
            </if>
            <if test="commentContent!=null">
                #{commentContent},
            </if>
            <if test="commentDate!=null">
                #{commentDate},
            </if>
        </trim>
    </insert>
<!--    插入评论关联表-->
    <insert id="insertCommentRef" parameterType="com.zlk.zlkproject.article.entity.ArticleComment">
        insert into article_ref_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId!=null">
                comment_id,
            </if>
            <if test="articleId!=null">
                article_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId!=null">
                #{commentId},
            </if>
            <if test="articleId!=null">
                #{articleId},
            </if>
        </trim>
    </insert>
</mapper>