<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.zlkproject.essay.mapper.EssayMapper">
    <resultMap id="essayEntityMap" type="com.zlk.zlkproject.essay.entity.Essay">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="content" column="content" javaType="java.lang.String"></result>
        <result property="markdown" column="markdown" javaType="java.lang.String"></result>
    </resultMap>

    <insert id="insertEssay" parameterType="com.zlk.zlkproject.essay.entity.Essay">
        INSERT INTO `zlk_project`.`essay` (`content`,`markdown`)
VALUES
  (
  #{content},
  #{markdown}
  );

    </insert>

    <select id="selectEssay" resultMap="essayEntityMap">
        SELECT
  `id`,
  `content`
FROM
  `zlk_project`.`essay`
    </select>
</mapper>
