<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlk.zlkproject.community.mapper.AskMapper">
    <resultMap id="askEntityMap" type="com.zlk.zlkproject.community.entity.Ask" >
        <id column="asktest_id" property="askId" jdbcType="INTEGER" />
        <result column="asktest_reply_sum" property="askReplySum" jdbcType="INTEGER" />
        <result column="asktest_time" property="askTime" jdbcType="VARCHAR" />
        <result column="asktest_content" property="askContent" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="findAskList" parameterType="java.util.Map" resultMap="askEntityMap">
        SELECT
  `asktest_id`,
  `asktest_content`,
  `asktest_reply_sum`,
  `asktest_time`
FROM
  `community`.`asktest`
        order by `asktest_id` limit #{startIndex},#{pageSize}
    </select>
    <select id="findAskCount" resultType="java.lang.Integer">
        select count(*) from `asktest`
    </select>

</mapper>